body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  background-color: #f4f4f4; /* Neutral background color */
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: scroll;
  user-select: none;
}

#initialScreen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333; /* Darker text color */
}

#startGame, #restartGame {
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: #333; /* Dark button color */
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
  pointer-events: auto;
}

#startGame:hover, #restartGame:hover {
  background-color: #555; /* Slightly lighter on hover */
}

#gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#game {
  width: 30%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  background-color: #e6e6e6; /* Light gray for the game board */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

#game div {
  border: 1px solid #ccc; /* Lighter border color */
  width: 100%;
  padding-top: 100%;
  position: relative;
  transition: transform 0.3s; /* Animation for card flip */
}

#game div:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

#game.blurred {
  filter: blur(5px);
  pointer-events: none;
}

#scoreBoard {
    width: 30%;
    margin: 5% auto;
    padding: 20px;
    background-color: #e6e6e6; /* Light gray for the scoreboard */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#scoreBoard p {
    font-size: 1.2rem; /* Increase font size */
    font-weight: 500; /* Make it slightly bold */
    color: #333; /* Darker text color */
    margin: 5px 0; /* Adjust spacing */
}

#scoreBoard span {
    font-weight: 700; /* Bold font weight for the score */
    color: #555; /* Slightly lighter color for contrast */
}

#restartGame {
    margin-top: 20px; /* Add some space above the restart button */
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

